* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

#cont-items {
    border: 5px solid black;
    height: 600px;
    overflow: hidden;

}

.itemc {
    border: 1px solid black;
    height: 100%;
    position: relative;
}

.tarj {
    height: 100%;
}

.flecha {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

a {
    text-decoration: none;
}

.tarj img {
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 50px;
    margin-top: 50px;
}

h2 {
    margin: 2rem;
    text-decoration-line: overline underline;
    text-decoration-color: rgb(255, 152, 152);
}

.deck {
    display: flex;
    margin-top: 3px;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 1rem;

}

.volv {
    display: inline-block;
    /* align-items: flex-end; */
    background-color: rgb(212, 221, 233);
    margin: 0.5rem;
    
    padding: 12px;
    text-decoration: none;
}

form {
    width: 450px;
    margin: auto;
    background: rgba(36, 35, 35, 0.212);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

h4 {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton {
    background: rgba(43, 35, 78, 0.445);
    color: #fff;
    padding: 20px;
}

#boton:hover {
    cursor: pointer;
}